#head-bar > h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #003585;
    margin-left: 10px;
}

.register-box {
    width: 494px;
    height: 750px;
}
.register-box > h1 {
    text-align: center;
    margin-bottom: 40px;
}

.register-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-group > input {
    box-sizing: border-box;
    margin-top: 10px;

    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 40px;

    width: 494px;
    height: 50px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-left: 20px;
    /* identical to box height */

    letter-spacing: 0.07em;
}

.phone-input-box {
    width: 494px;
    justify-content: space-between;
    align-items: center;
}

.phone-input {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    margin-top: 10px;

    background-color: #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 40px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-left: 20px;
    /* identical to box height */

    letter-spacing: 0.07em;
}

.form-group > select {
    width: 110px;
    height: 37px;
    margin-top: 10px;

    background: #84A6FF;
    border-radius: 5px;
    border-color: #84A6FF;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.07em;

    color: #ffffff;
}

.register-btn {
    background: #0065FF;
    border-radius: 4px;
    margin-top: 50px;

    width: 360px;
    height: 64px;

    border-color: #0065FF;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}

.img-box {
    margin-left: 110px;
    align-items: center;
}


