<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Trip Tip</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/groups/detail_group.css">
</head>
<body>
<div id="wrapper">
  <header id="head-bar" class="flex">
    <img src="/img/logo_blue.png" alt="main_logo">
    <h1 class="bold">TRIP TIP</h1>
  </header>

  <div class="content-box flex">
    <div class="content-inner-box flex" th:object="${groupDetailDto}">
      <section class="group-profile">
        <img class="group-image" src="/img/trip_tip_logo.png" alt="그룹 로고">
        <p class="group-code" th:text="*{group_code}"></p>
        <p class="group-name" th:text="*{group_name}"></p>
        <p class="leader" th:text="*{leader}"></p>
        <button class="btn-group meeting-add-btn bold">모임 추가</button>
      </section>
      <section class="meeting-list">
        <h3 class="list-title">미팅 목록</h3>
        <article class="meeting-item flex" th:each="m, stat : *{meetings}">
          <p th:text="${m.meeting_name}"></p>
          <p th:text="${m.meeting_day}"></p>
        </article>
      </section>
      <section class="result">
        <article class="total-cost bold">
            <h3>총 비용</h3>
            <p class="cost bold">0원</p>
        </article>
        <button class="btn-group clear-btn bold">정산하기</button>
      </section>
    </div>
  </div>
</div>
</body>
</html>