<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Trip Tip</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="wrapper">
  <header id="head-bar" class="flex">
    <section class="logo-section flex">
      <a id="back-btn" href="javascript:window.history.back();">
        <img id="back-btn-img" src="/icon/ic_back_btn.png" alt="back_btn">
      </a>
      <img th:onclick="|location.href='@{/api}'|" src="/img/logo_blue.png" alt="main_logo">
      <h1 class="bold">TRIP TIP</h1>
    </section>
    <section class="profile-section flex" sec:authorize="isAuthenticated()">
      <a th:href="@{'/api/users/logout'}" class="submit-a-group logout-btn bold">로그아웃</a>
      <img th:onclick="|location.href='@{/api/users/notify}'|" src="/icon/ic_bell_disabled.png" alt="notification">
      <img th:onclick="|location.href='@{/api/users/profile}'|" src="/icon/ic_user.png" alt="profile">
    </section>
  </header>

  <div class="content-box flex">

  </div>
</div>
</body>
</html>