<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="wrapper">
        <header id="head-bar" class="flex">
            <img src="/img/logo_blue.png" alt="main_logo">
            <h1 class="bold">TRIP TIP</h1>
        </header>

        <!-- 로그인 안 했을 시 -->
        <div class="content-box flex" th:if="${loginUser == null}">
            <section class="section-box">
                <img src="/img/main_page_image.png" alt="main_img">
            </section>
            <section class="section-box right-section flex">
                <article class="main-nav flex">
                    <h1 class="slogan flex-item">
                        이번 모임 총부하실 분..? <br/>
                        저희가 합니다, 그 총무!
                    </h1>
                    <p class="description flex-item">Trip Tip으로 쉽게 정산하세요.</p>
                    <a th:href="@{'/api/users/signin'}" class="login-btn bold">로그인</a>
                    <a th:href="@{'/api/users/signup'}" class="register-btn bold">회원가입</a>
                </article>
            </section>
        </div>

        <!-- 로그인 했을 시 -->
        <div class="content-box flex" th:if="${loginUser != null}">
            <div>
                <section>
                    <article>
                        <button>그룹 참여</button>
                        <button>그룹 생성</button>
                    </article>
                    <article>
                        <p th:text="안녕하세요, ${loginUser.username}!"></p><br/>
                        <p>Trip Tip이 여러분들의 총무가 되어드립니다.</p>
                        <img src="/img/main_page_logo.png">
                    </article>
                </section>
                <section>
                    <a href="@{}">활동 내역 ></a>

                </section>
            </div>
        </div>
    </div>
</body>
</html>