<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Trip Tip</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrapper">
    <header id="head-bar" class="flex">
      <img src="/img/logo_blue.png" alt="main_logo">
      <h1 class="bold">TRIP TIP</h1>
    </header>

    <div class="content-box flex">
      <form th:action="@{'/api/groups/' + ${group_id} + '/meetings/' + ${meeting_id} + '/receipts/create'}" th:object="${receiptSelectDto}" method="post">
        <table>
          <tbody>
            <tr th:each="u, stat : *{users}">
              <td>
                <input type="checkbox" th:field="*{users}"
                       th:value="${u.user_id}" th:checked=true />
              </td>
              <td th:text="${u.user_id}"></td>
              <td th:text="${u.username}"></td>
              <td th:text="${u.nickname}"></td>
            </tr>
          </tbody>
        </table>
        <button type="submit">생성</button>
      </form>
    </div>
  </div>
</body>
</html>