<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
<head>
    <meta charset="UTF-8">
    <title>Trip Tip</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/groups/detail_group.css">
    <link rel="stylesheet" href="/css/meetings/detail_meeting.css">
    <link rel="stylesheet" href="/css/receipts/create_receipt.css">
</head>
<body>
<div id="wrapper">
    <header id="head-bar" class="flex">
        <section class="logo-section flex">
            <a id="back-btn" href="javascript:window.history.back();">
                <img id="back-btn-img" src="/icon/ic_back_btn.png" alt="back_btn">
            </a>
            <img th:onclick="|location.href='@{/api}'|" src="/img/logo_blue.png" alt="main_logo">
            <h1 class="bold">TRIP TIP</h1>
        </section>
        <section class="profile-section flex">
            <a th:href="@{'/api/users/logout'}" class="submit-a-group logout-btn bold">로그아웃</a>
            <img th:onclick="|location.href='@{/api/users/notify}'|" src="/icon/ic_bell_disabled.png" alt="notification">
            <img th:onclick="|location.href='@{/api/users/profile}'|" src="/icon/ic_user.png" alt="profile">
        </section>
    </header>

    <div class="content-box flex">
        <div class="content-inner-box flex">
            <section class="group-profile">
                <img class="group-image" src="/img/trip_tip_logo.png" alt="그룹 로고">
                <p class="group-code">group_code</p>
                <p class="group-name">group_name</p>
                <p class="leader-meeting">group_leader_username</p>
                <p class="meeting-date">meeting_day</p>
                <input id="group-id" type="hidden" th:value="${group_id}">
                <input id="meeting-id" type="hidden" th:value="${meeting_id}">
            </section>

            <section class="receipt-list">
                <div class="calc-method flex">
                    <button id="dutch-pay-btn" class="select-btn active bold">N분의 1</button>
                    <button id="each-pay-btn" class="select-btn bold">직접 입력</button>
                </div>
                <form id="receipt-create-form" method="post">
                </form>
            </section>

            <section class="result">
                <article class="total-cost bold">
                </article>
            </section>
        </div>
    </div>
</div>
<script src="/js/receipts/receiptCreate.js"></script>
</body>
</html>