<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
<head>
    <meta charset="UTF-8">
    <title>Trip Tip</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/groups/detail_group.css">
    <link rel="stylesheet" href="/css/meetings/detail_meeting.css">
    <link rel="stylesheet" href="/css/receipts/create_receipt.css">
</head>
<body>
<div id="wrapper">
    <header id="head-bar" class="flex">
        <img src="/img/logo_blue.png" alt="main_logo">
        <h1 class="bold">TRIP TIP</h1>
    </header>

    <div class="content-box flex">
        <div class="content-inner-box flex">
            <section class="group-profile">
                <img class="group-image" src="/img/trip_tip_logo.png" alt="그룹 로고">
                <p class="group-code">group_code</p>
                <p class="group-name">group_name</p>
                <p class="leader-meeting">group_leader_username</p>
                <p class="meeting-date">meeting_day</p>
                <input id="group-id" type="hidden" th:value="${group_id}">
                <input id="meeting-id" type="hidden" th:value="${meeting_id}">
            </section>

            <section class="receipt-list">
                <div class="calc-method flex">
                    <button id="dutch-pay-btn" class="select-btn active bold">N분의 1</button>
                    <button id="each-pay-btn" class="select-btn bold">직접 입력</button>
                </div>
                <form id="receipt-create-form" method="post">
                </form>
            </section>

            <section class="result">
                <article class="total-cost bold">
                    <h3>총 비용</h3>
                    <p class="cost bold">0원</p>
                </article>
            </section>
        </div>
    </div>
</div>
<script src="/js/receipts/receiptCreate.js"></script>
</body>
</html>